*{margin:0px;padding:0px;}

.clear{clear:both;}

@font-face {
    font-family: ios;
    src: url("assets/Font/SF-Pro.ttf");
}

body{
    font-family: ios;
    background-color: bisque;
    
}



.music-player{
    width: 600px;
    height: 400px;
    padding:0px 30px;
    margin: 100px auto;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
}

.music-player .header{
    width: 100%;
    padding:30px 0px;
}

.music-player .header .image{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    float: left;
}

.music-player .header .image img{width: 100%;}

.music-player .header .information{
    width: calc(100% - 140px);
    padding: 10px 20px;
    float: left;
    text-transform: capitalize;
}

.music-player .header .information .system{
    font-size: 15px;
    font-weight: 600;
    color: rgb(119, 119, 119);
    margin-bottom: 10px;
}

.music-player .header .information .song-name{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}

.music-player .header .information .singers{
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.music-player .player{
    width: 100%;
    margin-top: 20px;
}

.music-player .player .time-line{
    width: 100%;
    height: 2px;
    position: relative;
}

.music-player .player .time-line .background{
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119);    
}

.music-player .player .time-line .fill{
    width: 0%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
}

.music-player .player .time-line .fill-btn{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0%;
}

#left-width-time-line{
    position: absolute;
    left: 0px;
}

#right-width-time-line{
    position: absolute;
    right: 0px;
}

.music-player .player .under-time-line{
    width: 100%;
    margin-top: 10px;
    position: relative;
}

#time-past, #time-left{
    color: rgb(200, 200, 200);
    font-size: 13px;
    position: absolute;
    top: 0px;
}

#time-past{left: 0px;}
#time-left{right: 0px;}

.music-player .player .buttons{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.music-player .player .buttons .btn{
    background-color: transparent;
    border: none;
}

.music-player .player .buttons .btn img{
    width: 100%;
    filter: invert(0.7) sepia(0.1);
}

#play-pause-btn{
    width: 80px;
    height: 80px;
}

#next-btn{
    width: 70px;
    height: 70px;
    margin-left: 100px;
}

#back-btn{
    width: 70px;
    height: 70px;
    margin-right: 100px;
}

.music-player .player .volume-style{
    width: calc(100% - 200px);
    padding:0px 100px;
}

.music-player .player .volume{
    width: 100%;
    height: 2px;
    margin-top: 40px;
    position: relative;
}

.music-player .player .volume .background{
    width: 100%;
    height: 100%;
    background-color: rgb(119, 119, 119);    
}

.music-player .player .volume .fill{
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0px;
}

.music-player .player .volume .fill-btn{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 100%;
}

#left-width-volume{
    position: absolute;
    left: 0px;
}

#right-width-volume{
    position: absolute;
    right: 0px;
}

#volume-value{
    color:white;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: -50px;
    top: -6.5px;
}